*{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.body {
    font-family: Arial;
    background-color: rgb(105, 103, 96);

    justify-content: center;
    overflow: hidden;
}

.header{
    background-color: #5fb35c;
    color: greenyellow;;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 5px solid #5fb35c;
    animation: animate 2s linear forwards;
    animation: animate 2s linear forwards
}

.center{

}

.headerInfo{
    text-align: center;
    justify-content: left;
}

.groupChoices{

}

.randomChoices{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 5%;
    padding:10%;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(194, 183, 183)
    }

    .randomChoices{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        margin-left: 10%;
        margin-top: 5%;
    }

    .zone{
        margin-bottom: 5%;
        padding: 4%;
        padding-bottom: 15%;
    }

    .zone1{
        padding-bottom: 15%;
    }

    .randomButton{
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.zone{
    align-items: center;
}

.zone1{
    align-items: center;
    justify-content: space-around;
}

.card{
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.5);
    height: 150px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1%;
    text-align: center;
}

.card-ball{
    border:rgba(129, 124, 124, 0.5);
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}

.card-ball-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin-top: 40px;
    background-color: white;
    border-radius: 50%;
    position:absolute;
    font-size: 60px;
}

.card-ball-newinfo {
    margin-top: 30px;
    min-height: 100px;
    min-width: 100px;
    max-height: 101px;
    max-width: 101px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: #0f0d8a;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#card-ball-info-inside{
    color:black;
    border-radius: 50%;
    text-align: center;
    z-index: 0;
}

.randomButtonBall{
    margin-top: 5%;
    top: 65vh;
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    text-align: left;
    border: 0.;
    justify-content: center;
    align-items: center;
}

.randomButtonBall:hover{
    background-color: rgb(133, 127, 127);
    color:azure;
    border-color: azure;
}

.randomButtonBall:active{
    background-color: black;
    color:azure;
    border-color: rgb(133, 127, 127);
}
.randomButtonBall:active #card-ball-info-inside{
    position: relative;
    bottom: 20px;
    z-index: -1;
}

.randomButton{
    margin-left: 2%;
    padding-left: 10%;
    padding-right: 10%;

}

.infoCard{
    text-align: center;
}

.typeBottom{
    margin-bottom: 2%;

}
.textInfoType{
    position: absolute;
}

.mealTitle{
    font-size: 14px;
    color:rgb(216, 209, 167);
}

.mealCategory{
    font-size: 12px;
    color:rgb(216, 209, 167);
}

.zone2{
    width: 200px;
    margin:0;
    box-sizing: border-box;
    align-items: center;
}



.cocktail{
}

.cocktail-glass{
    width: 150px;
    height: 200px;
    background-color: rgba(238, 241, 198, 0.829);
    backdrop-filter: blur(14px); 
    -webkit-clip-path: polygon(0% 0%, 49% 75%, 45% 95%, 10% 100%, 90% 100%, 55% 95%, 51% 75%, 100% 0%);
    clip-path: polygon(0% 0%, 49% 75%, 45% 95%, 10% 100%, 90% 100%, 55% 95%, 51% 75%, 100% 0%);
}

.cocktail-glass-object{
    top:-5;
    width: 140px;
    height: 180px;
    overflow: hidden;
    background-color: rgb(238, 241, 198);
    backdrop-filter: blur(14px); 
    -webkit-clip-path: polygon(0% 0%, 49% 75%, 45% 95%, 10% 100%, 90% 100%, 55% 95%, 51% 75%, 100% 0%);
    clip-path: polygon(0% 0%, 49% 75%, 45% 95%, 10% 100%, 90% 100%, 55% 95%, 51% 75%, 100% 0%);
    position: relative;
}

.cocktail-content-empty{

}

.cocktail-content{
    text-align: center;
    margin-left: 3px;
    margin-bottom: 600px;
    width: 140px;
    height: 150px;
    background-color: #80c5de;
    background-repeat: no-repeat;
    border-radius: 0 0 40px 40px;
    box-shadow: inset 0 0 70px #1c637c;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    animation: wave 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}
@keyframes wave{
    0%{ right: 100; top: 200px;}
    100%{ right: 3400; top: 30px;}
}

.randomButtonCocktail{
    margin-top: 5%;
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    text-align: left;
    border: 0.;
    margin-left: 10px;
}

.randomButtonCocktail:hover{
    background-color: #80c5de;
    color:azure;
    border-color: rgb(20, 20, 19);
}
.randomButtonCocktail:active{
    box-shadow: inset 0 0 70px #1c637c;
    color: azure;
    border-color: azure;
}

.card-cocktail-info{
    position: absolute;
    justify-content: center;
    margin-left: 20px;
    font-size: 14px;
    z-index: 1;

}


.card-lamp{
    border: 1px solid rgb(44, 43, 41);
    width: 140px;
    height: 160px;
    background-color:  rgb(105, 103, 96);
    border-radius: 50%; 
    margin: auto;
    transition: box-shadow 1.2s, background-color 1.2s;
    margin-bottom: -4px;
}

.card-lamp-on{
    background-color: rgba(233, 179, 80, 0.932);
    box-shadow: 0 0 20px #fff, 0 0 30px rgb(233, 179, 80, 0.932), 0 0 40px rgba(228, 174, 75, 0.932),
                0 0 50px #fff, 0 0 60px rgba(216, 158, 50, 0.932), 0 0 70px rgba(218, 155, 40, 0.932),
                0 0 80px #fff, 0 0 90px #fff, 0 0 100pc #fff;
}

.card-lamp-info{
    width: 35px;
    height: 30px;
    background-color: rgb(58, 58, 55);
    margin: auto;
    margin-bottom: 10px;
}

.light{
    width: 2px;
    height: 35px;
    background-color: black;
    margin: auto;
    margin-top: -35px;
    margin-bottom: -4px;
    
}

.card-lamp-info-inside{
    font-size: 15px;
    position: absolute;
    margin-top: -95px;
    margin-left: -35px;
    align-items: center;
    justify-content: center;
}

.randomButtonLamp{
    margin-top: 5%;
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    text-align: left;
    border: 0.;
    margin-left: 10px;
}

.randomButtonLamp:hover{
    background-color: black;
    color:rgb(185, 130, 26);
    border-color: rgb(185, 130, 26);
}
.randomButtonLamp:active{
    background-color: rgb(185, 130, 26);
    color: azure;
    border-color: azure;
}

