.body {
    font-family: Arial;
    justify-content: center;
    background-color: #5fb35c;
    color: white;
}

.headerInfo{
    text-align: center;
    justify-content: left;
}

.groupChoices{
    background-color: rgb(207, 155, 155);
    height: 10%;
    padding: 10px;
}

.randomChoices{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin: 5%;
}

.zone{
    align-items: center;

}
.card{
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.5);
    height: 150px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1%;
    text-align: center;
}

.randomBottom{
    margin-left: 2%;
    padding-left: 9%;
    padding-right: 10%;
}

.typeBottom{
    margin-bottom: 2%;
}
.textInfoType{
    position:absolute;
}